---
import { ClientRouter } from 'astro:transitions';
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLang = Astro.currentLocale || 'es';
---

<!DOCTYPE html>
<html lang={currentLang}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="description" content="Established in 2024, AFA is a multidisciplinary studio that blends experimental design with ancestral knowledge. -the firm includes an architectural division, interior design studio and an artistic direction wing to approach project development" />
  <meta name="keywords" content="afa, arquitecture, photography, arquitectura, fotografía" />
  <meta name="author" content="Alonso Fernández Amador" />
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/dhojdq7qf/image/upload/v1744661100/Favicon_vnmzql.png" />
  <title>AFA</title>
  <ClientRouter/>
</head>
<body>

  <a href={getRelativeLocaleUrl(currentLang, 'home')}>
    <main id="main" class="main">
      <figure class="main__picture">
        <img src="https://res.cloudinary.com/dhojdq7qf/image/upload/v1743112187/AFA_kqraay.png" class="main__img" alt="Logo AFA" loading="lazy" >
      </figure>
    </main>
  </a>

</body>
</html>

<script>

  import data from '@/data/landing.json';
  import { getRandomNumber, setBackgroundImage } from '@/utils/utils';

  document.addEventListener('astro:page-load', () => {
    const main = document.querySelector('#main') as HTMLElement;
    const { pics } = data;
    const backgroundImage = pics[getRandomNumber(pics.length - 1)].url;
    if (main) {
      setBackgroundImage(main, backgroundImage);
    }
  });

</script>

<style>

  body {
    margin: 0;
  }

  .main {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
  }

  .main__picture {
    width: 12rem;
    height: 5.2rem;
    cursor: pointer;
  }

  @media (width >= 768px) {
    .main__picture {
      width: 14rem;
      height: 6.5rem;
    }
  }

  .main__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

</style>