<section class="screen__gallery mb">
  <slot/>
</section>

<style>
  .screen__gallery {
    min-height: 100rem;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
</style>