---
import TimelineItem from './TimelineItem.astro';

const {timelineTitle} = Astro.props; 
---

<section class="timeline mb">
  <h4 class="timeline__title">{timelineTitle}</h4>
  <div class="timeline__body">
    <slot/>
  </div>
</section>

<style>
  .timeline{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .timeline__body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
</style>